#igm{
    border-top: 1px white solid;
    border-bottom: 1px white solid;
   width: 100%;
}
body{
    background-color: black;
}

p,b {
    font-family: Arial, Helvetica, sans-serif;
    color: white ;
}